<%= form_for([@restaurant,@reservation]) do |f| %>
<!-- we need diner name, diner phone number, dinner email address, comments and request box, submit button -->
<% if @reservation.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this product from being saved:</h2>

      	<ul>
      		<% @reservation.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      		<% end %>
      	</ul>
    </div>
<% end %>

	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :user_phone %><br/>
		<%= f.number_field :user_phone %>
	</div>
	<div class="field">
		<%= f.label :email_address %><br/>
		<%= f.text_field :email_address %>
	</div>
	<div class="field">
		<%= f.label :size_of_party %><br/>
		<%= f.number_field :size_of_party %>

	</div>
	<div class="field">
		<%= f.label :comments_and_requests %><br/>
		<%= f.text_area :comments_and_requests %>
	</div>
	<div class="actions">
		<%= f.submit %>
		<%= f.hidden_field :res_time, :value =>params[:res_time]%>
	</div>
<% end %>
