<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
	<p><b><a href='/restaurants/<%= restaurant.id %>'><%= restaurant.name %></b></a></br>
		<%= restaurant.address %></br>
		<%= restaurant.bio %></br>
		<%= number_to_phone(restaurant.phone_number,area_code: true) %></br>
		</p>
<% end %>


