<h1><%= @restaurant.name %></h1>
<b>Bio:</b> <%= @restaurant.bio %></br>
<b>Address:</b> <%= @restaurant.address %></br>
<b>Capacity:</b> <%= @restaurant.capacity %></br>
<b>Phone Number:</b> <%= number_to_phone(@restaurant.phone_number,area_code: true) %></br><br>




<p>Reviews for <%= @restaurant.name %></p>

<% @restaurant.reviews.each do |review| %>
<p><%= review.comments %></p>
<% end %>

<%= form_for([@restaurant,@review]) do |f| %>

<div class="field"> 
	<%= f.label :review %><br/>
	<%= f.text_area :comments %>
</div>


<div class="actions">
	<%= f.submit %> 
</div>
<% end %>

<%= render 'reserve' %>
