<h1><%= @restaurant.name %></h1>
<b>Bio:</b> <%= @restaurant.bio %></br>
<b>Address:</b> <%= @restaurant.address %></br>
<b>Capacity:</b> <%= @restaurant.capacity %></br>
<b>Phone Number:</b> <%= number_to_phone(@restaurant.phone_number,area_code: true) %></br><br>


<p>Reviews for <%= @restaurant.name %></p>

<% @restaurant.reviews.each do |review| %>
<p><%= review.comments %></p>

	<%= link_to "Delete", restaurant_review_path(@restaurant,review), method: :delete, data:{confirm: "Are you sure you want to delete this comment?"}  %>


	<%= link_to "Edit", edit_restaurant_review_path(@restaurant,review) %>

<% end %>

<% if flash[:notice] %>
	<p class=notice>
	<%= flash[:notice] %>
	</p>
<% end %>





<%= form_for([@restaurant,@review]) do |f| %>

<div class="field"> 
	<%= f.label :comments %><br/>
	<%= f.text_area :comments %>
</div>

<div class="actions">
	<%= f.submit %> 
</div>

<%= link_to "All restaurants" ,restaurants_path(@restaurants) %>

<% end %>


<%= render 'reserve' %>


