<!DOCTYPE html>
<html>
<head>
  <title>Foodietable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

    <ul class="userinfo">
      <% if current_user %>
        Signed in as <%= current_user.name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Log in", new_session_path %> or <%= link_to "Create an Account", new_foody_path %>
      <% end %>
    </ul>

    <ul class="main_menu">

      <li>
         <%= link_to "Let's Eat!", restaurants_path %>
      </li>

      <% if current_user %>
      <li>
          <%= link_to "Your Foodie Profile!", foody_path(current_user) %>
      </li>
      <li>
          <%= link_to "Edit Your Profile", edit_foody_path(current_user) %>
      </li>
      <% end %>
    </ul>
  </body>
</html>